.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #edff23;
}
.home-text {
  top: 50%;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.home-container1 {
  top: 137px;
  flex: 0 0 auto;
  left: 500px;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  top: 80%;
  left: 0px;
  color: #ff00bc;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 60px;
  text-align: center;
  font-family: "Rubik Gemstones";
  text-decoration: none;
}
.home-image {
  top: 3%;
  width: 240px;
  height: 246px;
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
}
