.siuski-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff000;
}
.siuski-text {
  color: var(--dl-color-danger-300);
  font-size: 40px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 10px;
  font-family: "Comic Sans MS";
  background-image: linear-gradient(to right, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 100%);
}
